################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GeoJSON(2022)/CopilotIndices/0.2.1657.32929
/.vs/Autodesk Development/v17
/.vs/GeoJSON(2022)
/GeoJSON/.vs
/packages
/.vs
/.vs
/.vs/GeoJSON(2020)
.vs/GeoJSON(2020)/FileContentIndex/366a609e-1307-439b-ab48-27614d60c39a.vsidx
.vs/GeoJSON(2020)/FileContentIndex/366a609e-1307-439b-ab48-27614d60c39a.vsidx
.vs/GeoJSON(2020)/FileContentIndex/366a609e-1307-439b-ab48-27614d60c39a.vsidx
.vs/GeoJSON(2020)/v17/.suo
.vs/GeoJSON(2020)/v17/DocumentLayout.json
.vs/GeoJSON(2020)/FileContentIndex/366a609e-1307-439b-ab48-27614d60c39a.vsidx
.vs/GeoJSON(2020)/v17/.suo
.vs/GeoJSON(2020)/v17/DocumentLayout.json
*.vsidx
/bin
